/*portal*/

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

@media only screen and (min-width:1500px) {
  body {
    background-color: white;
  }
}

@media only screen and (min-width:1500px) {
    body {
      background-color: white;
      overflow: hidden;
    }
}

.titlecontainer {
    margin-top: 20px;
    text-align: center;
}

.titlecontainer #title {
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

#menubarcontainer {
    text-align: center;
    margin: auto;
    height: 15px;
    width: 150px;
    font-size: 12px;
    font-family: monospace;
   /* animation: toBlackRev .5s forwards; */
}

#menubarcontainer:hover {
    animation: toBlackbg .5s forwards;
    animation-delay: .5s;
}



#menubarcontainer .link{
    color: lightgray;
    /*animation: toGreyRev .25s forwards*/
}

#menubarcontainer .menu{
    color: grey;
    /*animation: toGreyRev .25s forwards*/
}

#menubarcontainer .link:hover{
    animation: toGrey .25s forwards;
}


.txt_fbg {
    width: 100%;
    height: 70%;
    padding: 0px;
    margin: auto;
    margin-top: 125px;
    background-color: white;
    position: relative;
}

@media only screen and (max-width: 600px) {
    .txt_fbg {
        margin-top: 50px;
        margin-bottom: 100px;
    }
}

.txt_fbg #txt_content {
    padding-left: 28%;
    padding-right: 28%;
    position: absolute;
    font-family: monospace;
    color: black;
    font-size: 12px;
}

.txt_fbg #txt_sticker {
    margin-left:375px;
    position: absolute;
}

.stamp {
    color: gainsboro;
    text-align: center;
    font-family: monospace;
} 

.stamp:hover {
    color: gray;
    text-align: center;
    font-family: monospace;
} 

/*about*/

.about_frame {
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 55px;
    background-color: white;
    position: relative;
}

.about_coulumna {
    flex: 20%;
    ;
    
}

.about_coulumnb {
    flex: 50%;
}

p.about_txt {
    flex:50%;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    font-size: 16px;
}


/*animations*/

/*
@keyframes toBlackbg {
    from {background-color: white; color: black;}
    to {background-color: black; color: white;}
}

@keyframes toBlackbgRev {
    from {background-color: black; color: white;}
    to {background-color: white; color: black;}
}
*/

@keyframes tolGrey {
    from {color: lightgrey; color: white;}
    to {color: white; color: lightgrey;}
}

@keyframes tolGreyRev {
    from {color: white; color: lightgrey;}
    to {color: lightgrey; color: white;}
}

@keyframes toGrey {
    from {color: grey; color: lightgrey;}
    to {color: lightgrey; color: grey;}
}


@keyframes toBlue {
    from {color: gray;}
    to {color: gray;}
}



/*work*/

.workpanel{
}

@media only screen and (min-width:1500px) {
    .workpanel {
            display:flex;
            margin: auto;
            margin-left: 25%;
            margin-right: 25%;
            margin-top: 55px;
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left:20px;
            padding-right:20px;
            background-color: #080d29;
            position: relative;
    }

    .workpanel .video {
        flex:60%;
        float:right;
        color:white;
        text-align: right;
    }
}

@media only screen and (max-width:1500px) {
    .workpanel {
            margin: auto;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 55px;
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left:20px;
            padding-right:20px;
            position: relative;
    }

    .workpanel .video {
        padding-top:30px;
        color:white;
        text-align: center;
    }
}

.an1 {
    opacity: 0%;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

.an2 {
    opacity: 0%;

    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
}
.workpanel .text {
    flex:40%;
    color: #dbdbdb;
    font-family: 'Times New Roman', Times, serif;
}

.workpanel .text .date {
    color: white;
    font-size: 14px;
    font-style: italic;
}

.workpanel .text .title {
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.youtube-video {
    aspect-ratio: 16 / 9;
    width:90%;
  }

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}